/* **********     Reset CSS     ********** */
:root {
  --main-font: sans-serif;
  --font-size: 16px;
  --main-color: #51bd68;

  --container-width: 1200px;
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*********************/
.header {
  position: sticky; /*lo que va  hacer es cuando el header llegue a 0 en  el margen de top se va a comportar como si estuviera  fija */
  z-index: 997;
  top: 0;
  padding: 1rem; /*padding a los 4 lados */
  background-color: var(--main-color);
  color: var(--second-color);
}

/*reseteo el h1  que  viene por defecto*/
.header h1 {
  margin: 0 auto;
  text-align: center;
}

.section {
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);
  min-height: 100vh;
  text-align: center;
}
